body {
    width: 100%;
    margin: 20; 
    padding: 0; 
    border: 0;
    background-color: black;
}

.navigation-bar {
    width: 100%;
    height: 80px;
}
.logo {
    display: inline-block;
    vertical-align: top;
    width: 100px;
    height: 50px;
    margin-right: 620px;
    margin-top: 15px;
}
.navigation-bar > a {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    height: 80px;
    line-height: 80px;
}

a:link, h1, h2, h3, h4, h5, h6, p, a{
    text-decoration: none;
    color: #fff;
}

a:hover {
    color: #0D6EFD;
}

.text {
    padding-top: 40px;
}

.container2 {
    padding-top: 200px;
}

.container3, .container4 {
    padding-top: 100px;
}

.btn-light:hover {
    background-color: #0D6EFD;
    border-color: #0D6EFD;
    color: #fff;
}

.center {
    text-align: center;
    padding-top: 100px;
    margin: 40px;
}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.gallery:hover {
    border: 1px solid #777;
}
  
div.gallery img {
    width: 100%;
    height: auto;
}
